*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* creare classe active */

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.container{
  width: 60%;
  margin: 0 auto;
}

.jumbo-container{
  width: 70%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.btn{
  padding: 5px 10px;
}

img{
  max-width: 100%;
}

/* HEADER */

header{
  height: 80px;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

header nav ul{
  list-style: none;
}

header nav ul a{
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

.header-left, .header-right{
  align-items: center;
}

.header-left img{
  padding-right: 10px;
}

/* JUMBOTRON */

.jumbotron{
  margin-top: 80px;
  background-color: #B4D0E7;
}

.jumbotron .jumbo-title{
  height: 50%;
}

.jumbotron .jumbo-text{
  width: 40%;
  flex-direction: column;
}


/* MAIN */

/* SECTION-1 */

.plan-box{
  justify-content: space-between;
}


.plan-1, .plan-2, .plan-3{
  width: 25%;
  border: 1px solid black;
  padding: 20px;
}

.plan-4{
  margin-top: 30px;
  width: 100;
  border: 1px solid black;
}

.p4-content{
  justify-content: space-between;
  padding: 20px;
}

.p4-content-left{
   width: 70%;
}

.p4-content-right{
  width: 30%;
  text-align: center;
}


/* SECTION-2 */

.section-2 .section-content{
  margin-top: 150px;
}



/* SECTION-3 */

.section-3{
  margin-top: 150px;
}

.section-3 .row{
  width: 100%;
  flex-wrap: wrap;
}

.section-3 .section-content .box{
  width:calc(100% / 3);
  padding: 20px;
} 


/* SECTION-4 */

.section-4 .section-content .section-title{
  width: 60%;
}

/* SECTION-5 */

.section-5{
  margin-top: 150px;
  height: 650px;
}

.section-5 .section-box{
  width: calc(100% / 3);
  flex-wrap: wrap;
}


.section-5 .section-box .logo-box{
  height: 50%;
  width: 50%;
}

.section-5 .section-box .section-box-content{
  padding: 50px;
}


/* SECTION-6 */

.section-6{
  background-color: #B4D0E7;
}

.section-6 .section-content{
  justify-content: space-between;
}

/* SECTION-7 */

.section-7{
  margin-top: 150px;
}

.section-7 .faq ul{
  padding-top: 30px;
}

.section-7 .faq ul li{
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 20px;
}