*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.container{
  width: 70%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.btn{
  padding: 5px 10px;
}

img{
  max-width: 100%;
}

/* HEADER */

header{
  height: 80px;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

header nav ul{
  list-style: none;
}

header nav ul a{
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

.header-left, .header-right{
  align-items: center;
}

.header-left img{
  padding-right: 10px;
}

/* JUMBOTRON */

.jumbotron{
  margin-top: 80px;
  background-color: #B4D0E7;
}

.jumbotron .jumbo-title{
  height: 50%;
}

.jumbotron .jumbo-text{
  width: 40%;
  flex-direction: column;
}


/* MAIN */

.plan-box{
  justify-content: space-between;
}


.plan-1, .plan-2, .plan-3{
  width: 25%;
  border: 1px solid black;
}

