*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* creare classe active */

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.container{
  width: 55%;
  margin: 0 auto;
}

.jumbo-container{
  width: 70%;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.btn{
  padding: 5px 10px;
  border: none;
}

.blue{
  color: #FFFFFF;
  background-color: #0061FF;
}

.red{
  background-color: #FF1C1C;
}

.dark-red{
  background-color: #D5001F;
}

.yellow{
  background-color: #FFD830;
}

.green{
  background-color: #D1E9CD;
}

.brown{
  background-color: #61082B;
}

.mid-blue{
  background-color: #0093CE;
}

.dark-blue{
  background-color: #0D2481;
}

.light-blue{
  background-color: #B4D0E7;
}
img{
  max-width: 100%;
}

/* HEADER */

header{
  height: 80px;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #D1D9E1;
}

header nav ul{
  list-style: none;
}

header nav ul a{
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

.header-left, .header-right{
  align-items: center;
}

.header-left img{
  padding-right: 10px;
}

/* JUMBOTRON */

.jumbotron{
  margin-top: 80px;
  background-color: #B4D0E7;
}

.jumbotron .jumbo-title{
  height: 50%;
  padding: 80px 80px 50px 20px;
}

.jumbotron .jumbo-title h1{
  font-size: 5rem;
}

.jumbotron .jumbo-text{
  width: 45%;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.jumbotron .jumbo-text button{
  width: 70%;
}


.jumbotron .jumbo-text i{
  font-size: 3rem;
  color: #000000;
}


/* MAIN */

/* SECTION-1 */

.plan-box{
  justify-content: space-between;
}


.plan-1, .plan-2, .plan-3{
  width: 25%;
  border: 1px solid black;
  padding: 20px;
}

.plan-4{
  margin-top: 30px;
  width: 100;
  border: 1px solid black;
}

.p4-content{
  justify-content: space-between;
  padding: 20px;
}

.p4-content-left{
   width: 70%;
}

.p4-content-right{
  width: 30%;
  text-align: center;
}


/* SECTION-2 */

.section-2 .section-content{
  margin-top: 150px;
}

.section-2 .section-content .s2-image{
  width: 60%;
}

.section-2 .section-content .s2-text{
  padding: 20px 20px 20px 50px;
  width: 40%;
}

.section-2 .section-content .s2-text h3{
  font-size: 1.6rem;
  padding-bottom: 20px;
}


.section-2 .section-content .s2-text p{
  padding-bottom: 40px;
  font-size: 1.2rem;
}

.section-2 .section-content .s2-text button{
  color: gray;
  background-color: white;
  width: 55%;
  padding: 10px 10px;
  font-size: 1.1rem;
  border: 1px solid gray;
}


/* SECTION-3 */

.section-3{
  margin-top: 150px;
}

.section-3 .section-content .section-title{
  width: 90%;
  padding-bottom: 20px;
}

.section-3 .section-content h3{
  font-size: 2.5rem;
}

.section-3 .row{
  width: 100%;
  flex-wrap: wrap;
}

.section-3 .section-content .box{
  width:calc(100% / 3);
  padding: 20px;
} 

.section-3 .section-content .box h4{
  padding-bottom: 30px;
  font-size: 1.7rem;
}

.section-3 .section-content .box p{
  padding-bottom: 30px;
}



/* SECTION-4 */

.section-4{
  margin-top: 150px;
}

.section-4 .section-content{
  padding: 20px;
}

.section-4 .section-content .section-title{
  width: 60%;
  padding-bottom: 60px;
}

.section-4 .section-content .section-title h3{
  font-size: 2.7rem;
}

/* SECTION-5 */

.section-5{
  margin-top: 150px;
  height: 650px;
}

.section-5 .section-box{
  width: calc(100% / 3);
  flex-wrap: wrap;
  background-color: #F5F5F5;
}


.section-5 .section-box .logo-box{
  height: 50%;
  width: 50%;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
}

.section-5 .section-box .logo-box img{
  padding: 80px;
}

.section-5 .section-box .section-box-content{
  padding: 50px;
}

.section-5 .section-box .section-box-content .logo{
  padding-right: 270px;
}

.section-5 .section-box .section-box-content .quote{
  padding-top: 100px;
}

.section-5 .section-box .section-box-content .quote-credit{
  padding-top: 70px;
}


/* SECTION-6 */

.section-6{
  background-color: #B4D0E7;
}

.section-6 .section-content{
  justify-content: space-between;
  align-items: center;
}

.section-6 .section-content .section-title{
  margin: 120px 0;
  width: 50%;
}
.section-6 .section-content .section-title h3{
  font-size: 3rem;
  color: #61082B;
}

.section-6 .section-content .section-button{
  width: 50%;
  justify-content: center;
}

.section-6 .section-content .section-button button{
 padding: 10px 50px;
 font-size: 1.1rem;
 background-color: ##FFFFFF;
}
/* SECTION-7 */

.section-7{
  margin: 150px auto;
}

.section-7 .section-title{
  font-size: 1.7rem;
  padding: 40px 0;
}

.section-7 .faq ul{
  padding-top: 30px;
}

.section-7 .faq ul li{
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 50px 0;
}

.section-7 .faq ul li:last-child{
  border-bottom: 1px solid black;
}

.section-7 .faq ul li .chevron{
  font-size: 0.7rem;
  padding-right: 30px;
}

.section-7 .faq ul li span{
  font-weight: bold;
}


/* FOOTER */

footer{
  background-color: #000000;
  color: white;
}

footer .lang{
  margin-top: 30px;
}

footer .footer-content{
  justify-content: space-between;
  padding: 100px 0;
}

footer .footer-content .footer-box{
  width: calc(100% / 5);
  padding: 20px;
}

footer .footer-content .footer-box .footer-list{
  margin-top: 25px;
}

footer .footer-content .footer-box .footer-list li{
  list-style: none;
  padding: 10px 0;
}